        <div class="utils" data-item-id='{{id}}'>
            <button data-type="iig-button" class="savelist-lnk" data-item-id='{{id}}'><span class=" glyphicon {{HBFaved faved 'glyphicon-heart-empty' 'glyphicon-heart'}}"></span><span class="button-label">{{HBFaved faved "Remove list" "Save to list"}}</span></button>
            
            {{#if data.downloadAsset}}
                <a href="{{{data.downloadAsset.src}}}"><button data-type="iig-button" data-item-id="{{id}}"><span class="icon"></span><span class="button-label">Download</span></button></a>
            {{/if}}
        </div>