    <div class="content-title">
	    <a href="{{baseUrl}}#/page/{{allMeta.pname}}" data-id="{{allMeta.pname}}" data-prev-id="{{prevId}}" data-next-id="{{nextId}}">{{{allMeta.title}}}
	    </a>
    </div>