        <div class="utils" data-item-id='{{id}}'>
            <button data-type="iig-button" class="savelist-lnk" data-item-id='{{id}}'><span class=" glyphicon {{HBFaved faved  'glyphicon-heart' 'glyphicon-heart-empty'}}"></span><span class="button-label">{{HBFaved faved "Remove list" "Save to list"}}</span></button>
            
            {{#if data.downloadAsset.src}}
                <button data-type="iig-button" class="download" data-item-id="{{id}}"><a href="{{{data.downloadAsset.src}}}"><span class="icon"></span><span class="button-label">Download</span></a></button>
            {{/if}}
        </div>