        <div class="utils" data-item-id='{{id}}'>
            <button  data-save="Save to list" data-remove="Remove list" data-type="iig-button" class="savelist-lnk" data-item-id='{{id}}'><span class=" glyphicon {{HBFaved faved  'glyphicon-heart' 'glyphicon-heart-empty'}}"></span><span class="button-label">{{HBFaved faved "Remove list" "Save to list"}}</span></button>
            
            {{#if data.downloads.src}}
                <a data-type="iig-button" target="_blank" class="download" data-item-id="{{id}}" data-track="{{data.downloads.src}}" href="{{{data.downloads.href}}}"><span class="icon"></span><span class="button-label">Download</span></a>
            {{/if}}
        </div>