<li class="grid-format" data-index={{allMeta.id}} data-item-id='{{allMeta.pname}}'>
        <a class="details" href="{{baseUrl}}#/page/{{allMeta.pname}}" data-id="{{allMeta.pname}}" data-prev-id="{{prevId}}" data-next-id="{{nextId}}">
            <div class="author">{{HBFullname allMeta.authors}}</div>
            <div class="title">{{allMeta.title}}</div>
            <p>{{HBTrim allMeta.abstract 140}}</p>
        </a>
        <div class="cardlinks">
            <div class="card-info">
                <div class="savelist-lnk" alt="Add to My Items" data-item-id="{{allMeta.pname}}">
                    <a href="#" target="_new">Save to List</a>
                </div>
                <div class="ebook-lnk">
                    {{#if allMeta.ebookNode}}
                        <a class="ebook-lnk" href="{{allMeta.ebookNode}}" target="_new">View Ebook</a>
                    {{else}}
                        Ebook Unavailable
                    {{/if}}
                </div>
            </div>
        </div>
</li>
