{{#if cat_display}}
    <div role="button" data-target="#{{catName}}" data-toggle="collapse" data-parent="#filters" class="filter-item-cat {{catName}}">{{cat_display}}
    <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

    <div class="filter-item collapse" role="tab-panel" id="{{catName}}">
    {{#each refs}}
        {{#if name}}
            {{#if count}}
                    <div class="filter-item-name">
                        <a href="#/filter/"><input type="checkbox" class="filter-checkbox" data-filter-name='{{fullName}}' data-filter-cat="{{../catName}}" data-filter-cat-display="{{cat_display}}"  data-filter-is-parent="1" {{checked}}/></a>
                        <span class="filter-name">{{name}}</span> <span class="count">{{count}}</span>
                    </div>
            {{else}}
                    <div class="filter-item-name filter-greyed-out">
                        <input disabled type="checkbox" class="filter-checkbox" data-filter-name='0' data-filter-cat="{{../catName}}" data-filter-is-parent="1"/>
                        <span class="filter-name">{{name}}</span> <span class="count">{{count}}</span>
                    </div>
            {{/if}}
            {{#each subnav}}
                {{#if count}}
                    <div class="filter-item-name" style="font-size:10px; margin-left:20px;>
                        <a href="#/filter/"><input type="checkbox" class="filter-checkbox" data-filter-name='{{fullName}}' data-filter-cat="{{subCatName}}"  data-filter-parent="{{parent}}" data-filter-cat-display="{{../name}}" {{checked}}/></a>
                        <span class="filter-name">{{name}}</span> <span class="count">{{count}}</span>
                    </div>
                {{else}}
                    <div class="filter-item-name filter-greyed-out"  style="font-size:10px; margin-left:20px;">
                        <input disabled type="checkbox" class="filter-checkbox" data-filter-name='0' data-filter-cat="{{subCatName}}" data-filter-cat-display="{{../name}}"/>
                        <span class="filter-name">{{name}}</span> <span class="count">{{count}}</span>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
    </div>
{{/if}}