<div class="cover">
    <div class="top-bar">
        <div class="bg"></div>
        <div class="norton-logo" title="{{displayTitle}}"></div>
        <div class="header-title"><a href="{{baseUrl}}">{{displayTitle}}</a></div>
        <div class="links">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
        <div class="my-account">
            <a><span class="glyphicon glyphicon-user"></span><span class="icon-label">{{user}}</span></a>
        </div>
    </div>
</div>