<div class="cover">
    <div class="top-bar">
        <div class="bg"></div>
        <div class="norton-logo" title="{{displayTitle}}"></div>
        <div class="header-title"><a href="{{baseUrl}}">{{displayTitle}}</a></div>
        <div class="links">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
        <div class="my-account">
            <span class="glyphicon glyphicon-user"></span>
            {{#if signedIn}}
                <span class="signed-in" icon-label">{{user}}</span>
            {{else}}
                <a class="sign-in" href="#" ><span icon-label">Sgin in</span></a>
            {{/if}}
        </div>
    </div>
</div>