<div class="cover">
    <div class="top-bar">
        <div class="norton-logo" title="{{displayTitle}}"></div>
        <a class="header-title" href="{{baseUrl}}"><h1>{{displayTitle}}</h1></a>
        <div class="links">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
        <div class="my-account">
            <a><span class="glyphicon glyphicon-user"></span><div class="icon-label">someone@somewhere.com</div></a>
        </div>
    </div>
    <div class="title">IIG</div>
</div>