<div class="list-format" data-id="{{id}}" data-pname="{{pname}}">
    <div class="list-author"><a href="{{HBPageLinkWithPname baseUrl pname}}">{{{title}}}</a></div>
    <div class="list-title">{{{abstract}}} DOWNLOAD LINK {{download_src}}</div>
    <div class="remove"><span class="glyphicon glyphicon-remove-2"></span></div>
</div> 