<div class="list-format" data-id="{{id}}">
    <div class="list-author">{{{authorFirstName}}} {{{authorMiddleName}}} {{{authorLastName}}}</div>
    <div class="list-title">{{{title}}}</div>
    <div class="remove"><span class="glyphicon glyphicon-remove-2"</div>
</div>