<li class="list-format" data-item-id='{{allMeta.pname}}'>
    <a class="details" href="{{baseUrl}}#/page/{{allMeta.pname}}" data-id="{{allMeta.pname}}" data-prev-id="{{prevId}}" data-next-id="{{nextId}}">
        <div class="author">{{HBFullname allMeta}}</div>
        <div class="list-title">{{allMeta.title}}</div>
    </a>
    <div class="article ebook">
        {{#if allMeta.ebookNode}}
            <a class="ebook-lnk" href="{{allMeta.ebookNode}}" target="_new">View Ebook</a>
        {{/if}}
    </div>
    <div class="add-to-list glyphicon-plus icon-add favs-lnk" alt="Add to My Items" data-item-id='{{allMeta.pname}}'></div>
    
</li>