<li class="grid-format" data-item-id='{{allMeta.pname}}'>
        <a class="details" href="{{baseUrl}}#/page/{{allMeta.pname}}" data-id="{{allMeta.pname}}" data-prev-id="{{prevId}}" data-next-id="{{nextId}}">
            <h4>{{allMeta.title}}</h4>
            <h4 class="author">{{HBFullname allMeta}}</h4>
            <span class="fa fa-picture-o"></span>
            <p>{{ allMeta.abstract }}</p>
        </a>
        <p class="cardlinks">
            <span class="card-info">
                <span class="glyphicon-plus icon-add favs-lnk" alt="Add to My Items" data-item-id='{{allMeta.pname}}'></span>
                <span class="article ebook-lnk">
                    {{#if allMeta.ebookNode}}
                        <a class="ebook-lnk" href="{{allMeta.ebookNode}}" target="_new">View Ebook</a>
                    {{else}}
                        Ebook Unavailable
                    {{/if}}
                </span>
            </span>
        </p>
</li>
