<li class="gridFormat" data-item-id='{{id}}'>
    <div>
        <a class="details" href="{{baseUrl}}#/page/{{id}}" data-id="{{id}}" data-prev-id="{{prevId}}" data-next-id="{{nextId}}">
            <h4>{{title}}</h4>
            <h4>{{authorLast}}, {{authorFirst}}</h4>
            <span class="fa fa-picture-o"></span>
            <p>{{shortExtract}}</p>
            <p class="card-info">
                <img src="/app/images/icon-add.png" class="icon-add favs-lnk" alt="Add to My Items" data-item-id='{{id}}'">
                <span class="article ebook-lnk">
                    {{#if ebookUrl}}
                        <a class="ebook-lnk" href="{{ebookUrl}}" target="_new">View Ebook</a>
                    {{else}}
                        Ebook Unavailable
                    {{/if}}
                </span>
            </p>
        </a>
    </div>
</li>