<div class="filters-container">
    <div class="filter-item">
        {{#if cat_display}}
            <div class="filter-item-cat">{{cat_display}}<span class="glyphicon glyphicon-chevron-down"></span></div>
        {{/if}}

        {{#each refinements}}
            {{#if value}}
                <div class="filter-item-name">
                    <a href="#/filter/"><input type="checkbox" class="filter-checkbox" data-filter-name='{{value}}' data-filter-cat="{{cat}}"/></a>
                    <span class="filter-name">{{value}}</span> <span class="count">{{count}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>