{{#if cat_display}}
    <div role="button" data-target="#{{name}}" data-toggle="collapse" data-parent="#filters" class="filter-item-cat {{HBIsCollapsed name}}">{{cat_display}}
    <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

    {{#HBIsChapter name}}
        <div class="filter-item collapse in" role="tab-panel" id="{{name}}">
    {{else}}
        <div class="filter-item collapse" role="tab-panel" id="{{name}}">
    {{/HBIsChapter}}
        {{#each refinements}}
            {{#if value}}
                <div class="filter-item-name">
                    <a href="#/filter/"><input type="checkbox" class="filter-checkbox" data-filter-name='{{value}}' data-filter-cat="{{cat}}"/></a>
                    <span class="filter-name">{{value}}</span> <span class="count">{{count}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
{{/if}}