<div class="cover">
    <div class="top-bar">
        <div class="norton-logo"><img src="/app/images/norton-logo.png" alt="{{displayTitle}}"></div>
        <div class="norton-logo">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
        <a href="{{baseUrl}}"><h1>{{displayTitle}}</h1></a>
        <div class="my-account">
            <a><span class="glyphicons glyphicons-user"></span><div class="icon-label">someone@somewhere.com</div></a>
        </div>
    </div>
    <div class="title">Norton Reader</div>
</div>