<div class="cover">
    <div class="top-bar">
        <div class="norton-logo" title="{{displayTitle}}"></div>
        <a class="header-title" href="{{baseUrl}}"><h1>{{displayTitle}}</h1></a>
        <div class="header-label"><a href="{{siteVersion}}">{{upperCase siteVersionLabel}}</a></div>
        <div class="links">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
    </div>
    <div class="title">{{displayTitle}}</div>
</div>