<div class="cover">
    <div class="top-bar">
        <div class="norton-logo" title="{{displayTitle}}"></div>
        <div class="header-title"><a href="{{baseUrl}}">{{displayTitle}}</a></div>
        <div class="header-label"><a href="{{siteVersion}}">{{siteVersionLabel}}</a></div>
        <div class="links">{{#each headerLinks}}
            <a href="{{link}}">{{label}}</a>
        {{/each}}
        </div>
    </div>
    <div class="title-screen">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0, 0, 480, 144">
          <defs>
            <linearGradient id="ts-grad" gradientUnits="userSpaceOnUse" x1="-1.962" y1="1.617" x2="-1.264" y2="1.617" gradientTransform="matrix(50.861, 65.65, -65.909, 50.661, 647.061, 151.675)">
              <stop offset="0" stop-color="#EEF2F5"/>
              <stop offset="0.84" stop-color="#7A7367"/>
              <stop offset="1" stop-color="#483C2A"/>
            </linearGradient>            
            <mask id="mask">
                <rect x="0" y="0" width="100%" height="100%" fill="#fff"/>            
                <path d="M479.971,98.963 C479.805,99.169 480,99.267 480,99.267 L480,143.951 L427.5,143.961 C427.5,143.961 472.788,146.334 479.971,98.963 z" fill="#000000"/>
            </mask>
            <clipPath id="ts-clips">
              <path d="M446.682,120.104 C446.682,120.104 437.621,138.951 427.5,143.98 C427.5,143.98 438.52,144.557 450.554,139.465 C462.92,134.232 476.357,123.012 480,99.026 C466.585,115.648 446.682,120.104 446.682,120.104 z"/>
            </clipPath>
          </defs>
          <g id="norton-title">
            <path d="M429.208,143.981 L0,143.981 L0,-0 L480,-0 L480,92.426 C480,120.899 457.26,143.981 429.208,143.981" fill="#FFF" mask="url(#mask)"/>
            <path d="M16,16 L464,16 L464,128 L16,128 L16,16 z" fill-opacity="0" stroke="#8f8f8f" stroke-width="2" id="border"/>
            <g clip-path="url(#ts-clips)" id="page-flip">
              <path d="M477.647,95.943 L499.955,125.173 L445.546,167.627 L423.239,138.397 L477.647,95.943 z" fill="url(#ts-grad)"/>
            </g>
          </g>
        </svg>
        <div class="title">{{displayTitle}}</div>
    </div>
</div>