<div id="pageContainer" class="modal fade" role="dialog">

    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-arrow-container">
                {{#if prevId}}
                    <div class="glyphicon glyphicon-left-arrow modal-arrow" id="prevArticle" data-prev-id="{{prevId}}" data-id="{{id}}">Prev</div>
                {{/if}}
            </div>
            <div class="modal-container">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{data.title}} by {{data.authorFirstName}} {{data.authorMiddleName}} {{data.authorLastName}}</h4>
                </div>
                <div class="modal-subheader" data-item-id='{{id}}'>
                    <button class="btn-savetolist favs-lnk" data-item-id='{{id}}'>SAVE TO MY ITEMS</button>
                    {{#if data.ebookLink}}
                        <a class="ebook-lnk" href="{{data.ebookLink}}" target="_new">View Ebook</a>
                    {{/if}}
                </div>
                <div class="modal-body">
                    <p>{{{data.excerpt}}}</p>
                </div>
            </div>
            <div class="modal-arrow-container">
                {{#if nextId}}
                    <div class="glyphicon glyphicon-right-arrow modal-arrow" id="nextArticle" data-next-id="{{nextId}}" data-id="{{id}}">Next</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
