{{#if cat_display}}
    <div role="button" data-target="#{{catName}}" data-toggle="collapse" data-parent="#filters" class="filter-item-cat {{catName}}">{{cat_display}}
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

    <div class="filter-item collapse" role="tab-panel" id="{{catName}}">
    {{#each refs}}
        {{#if name}}
            {{#if count}}
                {{#HBFilterHasSubnav ../nested "1" this}}
                <div class="filter-item-name nested">
                    <a href="#/filters/" data-target="#{{../catName}}{{@index}}" data-toggle="collapse" data-parent="#{{../catName}}{{@index}}">
                        {{> HBFiltersCatCheckbox catName=../catName}}
                        {{> HBFiltersCount}}
                    </a>
                </div>
                {{else}}
                <div class="filter-item-name">
                    {{> HBFiltersCatCheckbox catName=../catName}}
                    {{> HBFiltersCount}}
                </div>
                {{/HBFilterHasSubnav}}
            {{else}}
                <div class="filter-item-name filter-greyed-out">
                    {{> HBFiltersCatCheckboxDisabled}}
                    {{> HBFiltersCount}}
                </div>
            {{/if}}
            {{#HBFilterHasSubnav ../nested "1" this}}
            <div class="filter-item-group collapse{{HBFilterChecked checked}}" id="{{../catName}}{{@index}}">
            {{#each subnav}}
                {{#if count}}
                    <div class="filter-item-name">
                        <a href="#/filters/">
                            {{> HBFiltersSubCatCheckbox}}
                            {{> HBFiltersCount}}
                        </a>
                    </div>
                {{else}}
                    <div class="filter-item-name filter-greyed-out">
                        {{> HBFiltersSubCatCheckboxDisabled}}
                        {{> HBFiltersCount}}
                    </div>
                {{/if}}
            {{/each}}
            </div>
            {{/HBFilterHasSubnav}}
        {{/if}}
    {{/each}}
    </div>
{{/if}}