{{#if cat_display}}
    <div role="button" data-target="#{{catName}}" data-toggle="collapse" data-parent="#filters" class="filter-item-cat {{catName}}">{{cat_display}}
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

    <div class="filter-item collapse" id="{{catName}}">
    {{#each refs}}
        {{#if name}}
            {{#HBCount count}}
                {{#HBFilterHasSubnav ../nested "1" this}}
                <div class="filter-item-name nested">
                    <a href="#/filter/" data-target="#{{subCatName}}" data-toggle="collapse" data-parent="#{{subCatName}}">
                        {{> HBFiltersCatCheckbox catName=@root.catName}}
                        {{> HBFiltersCount}}
                    </a>
                </div>
                {{else}}
                <div class="filter-item-name">
                    {{> HBFiltersCatCheckbox catName=@root.catName}}
                    {{> HBFiltersCount}}
                </div>
                {{/HBFilterHasSubnav}}
            {{else}}
                <div class="filter-item-name filter-greyed-out">
                    {{> HBFiltersCatCheckboxDisabled}}
                    {{> HBFiltersCount}}
                </div>
            {{/HBCount}}
            {{#HBFilterHasSubnav ../nested "1" this}}
            <div class="filter-item-group collapse{{HBFilterChecked checked}}" data-parent="#{{@root.catName}}" id="{{@root.catName}}{{@index}}">
            {{#each subnav}}
                {{#HBCount count}}
                    <div class="filter-item-name">
                        {{> HBFiltersSubCatCheckbox catName=../subCatName subName=../name }}
                        {{> HBFiltersCount}}
                    </div>
                {{else}}
                    <div class="filter-item-name filter-greyed-out">
                        {{> HBFiltersSubCatCheckboxDisabled}}
                        {{> HBFiltersCount}}
                    </div>
                {{/HBCount}}
            {{/each}}
            </div>
            {{/HBFilterHasSubnav}}
        {{/if}}
    {{/each}}
    </div>
{{/if}}