<div class="modal-content">
    <div class="modal-arrow-container">
        {{#if prevId}}
            <div class="glyphicon glyphicon-triangle-left modal-arrow" id="prevArticle" data-prev-id="{{prevId}}" data-id="{{id}}"></div>
        {{/if}}
    </div>
    <div class="modal-container">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{title}} by {{authorFirst}} {{authorLast}}</h4>
        </div>
        <div class="modal-subheader" data-item-id='{{id}}'>
            <button class="btn-savetolist favs-lnk" data-item-id='{{id}}'>SAVE TO MY ITEMS</button>
            {{#if ebookUrl}}
                <a class="ebook-lnk" href="{{ebookUrl}}" target="_new">View Ebook</a>
            {{/if}}
        </div>
        <div class="modal-body">
            <p>{{{fullText}}}</p>
        </div>
    </div>
    <div class="modal-arrow-container">
        {{#if nextId}}
            <div class="glyphicon glyphicon-triangle-right modal-arrow" id="nextArticle" data-next-id="{{nextId}}" data-id="{{id}}"></div>
        {{/if}}
    </div>
</div>