<div class="favs-container" id="favsContainer">
    <div class="listFormat">
        <div class="article hdr">{{title}}</div>
        <div class="article sub-hdr">{{authorLast}}, {{authorFirst}}</div>
        <div  class="article content">{{shortExtract}}</div>
        <div class="article ebook-lnk">
            {{#if ebookUrl}}
                View in Ebook
            {{else}}

            {{/if}}
        </div>
        <div class="article favs-delete">X</div>
    </div>
</div>